 <% layout("/layouts/boilerplate") %>
 
    <div class="row mt-3">
       <div class="col-8 offset-3">
     <h3><%=listings.title %></h3>
     <div class="card col-6 offset-1 showcard listing-card">
        <img src="<%=listings.image%>" class="card-img-top showimg" alt="listing_image">
        <div class="card-body">
         <p class="card-text">
           <!-- <b><%=listings.title %></b> <br> -->
           <%=listings.description%><br>
           &#8377;<%=listings.price%><br>
           <%=listings.location%><br>
           <%=listings.country%><br>
         </p>
        </div>
    </div>
  </div>
    <br/>
 <div class="btns">
    <a href="/listings/<%=listings._id%>/edit" class="btn btn-dark col-1 offset-4 editbtn">Edit</a>
    <form method="POST", action="/listings/<%=listings._id%>?_method=DELETE" >
     <button class="btn btn-dark offset-5">Delete</button>
    </form>
 </div>

 <div class="col-8 offset-3 mb-3">
   <hr>
   <h4>Leave a review</h4>
  <form action="/listings/<%=listings.id%>/review" method="POST" novalidate class="needs-validation">
   <div class="mb-3 mt-3">
      <label for="rating" class="form-label" >Rating</label>
      <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range">
   </div>
   <div class="mb-3 mt-3"> 
      <label for="comment">Comments</label>
      <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control" required></textarea>
      <div class="invalid-feedback">Please add some comments for reviews</div>
   </div>
   <button class="btn btn-outline-dark">Submit</button>
   </form>
   <hr/>

   <p><b></b>All Reviews</p>
  <div class="row">
  <% for(review of listings.review){%>
   <div class="card col-5 ms-3 mb-3">
   <div class="card-body">
      <h5 class="card-title">saksham</h5>
      <p class="card-text"><%=review.comment%></p>
      <p class="card-text"><%=review.rating%>stars</p>
   </div>
   <form class="mb-3" method="POST" action="/listings/<%=listings.id%>/review/<%=review._id%>?_method=DELETE">
      <button class="btn btn-sm btn-dark">Delete</button>
   </form>
</div>
  <%}%>
</div>
 </div>
</div>


